/* App.css (or your preferred CSS file) */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Use min-height for better responsiveness */
  background-color: #c4f5f7fa;
}

.container {
  text-align: center;
  width: 80%; /* Set a specific width for better layout */
  max-width: 600px; /* Add max-width for better responsiveness */
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff; /* Add a background color for the container */
  border-radius: 10px; /* Add border-radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

label {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  color: #333; /* Set text color for labels */
}

select,
button {
  padding: 12px;
  margin: 5px;
  font-size: 16px;
  border: 1px solid #ddd; /* Add border for select and button */
  border-radius: 5px; /* Add border-radius for rounded corners */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-size: 16px;
}

th {
  background-color: #4CAF50;
  color: white;
}

button {
  background-color: #008CBA;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for smoother hover effect */
}

button:hover {
  background-color: #005F79;
}

/* Add this to your scrapper.css or create a new CSS file */

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 40px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: #ccc;
  transition: background-color 0.4s ease;
  border-radius: 30px;
  padding: px; /* Add padding around the slider */
  border: 2px solid #ccc;
}

.slider:before {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: rgb(77, 115, 115);
  transition: transform 0.4s ease;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
  border-color: #2196f3;
}

.switch:hover .slider {
  padding: 8px; /* Add padding on hover */
}

.switch:hover input:checked + .slider:before {
  transform: translateX(38px); /* Adjust the translation on hover */
}
